# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
python/venv/
.env/

# IDE
python/.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Project specific
#python/scratch/
