# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
python/venv/
.env/

# IDE
python/.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Project specific
#python/scratch/

# Keil MDK
*.o
*.d
*.crf
*.axf
*.hex
*.bin
*.map
*.lst
*.lnp
*.sct
*.dep
*.dbgconf
*.htm
*.build_log.htm
*.uvguix.*
*.uvoptx
JLinkLog.txt

# Logs
*.log

# Editor backup files
*~
*.bak
*.swp
*.swo
