# Python
__pycache__/
*.py[cod]
*.pyo
*.so
*.egg-info/
dist/
build/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
env/
venv/
.env/

# IDE
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Project specific
#scratch/
